dentaku-cartridge-generator/src/xml/gengenMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="elementType">
		<xs:sequence>
			<xs:element name="stereotype" type="stereotypeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="path" type="xs:string" use="required"/>
		<xs:attribute name="location" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="class"/>
					<xs:enumeration value="field"/>
					<xs:enumeration value="package"/>
					<xs:enumeration value="root"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="generatorType">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="canonicalName" type="xs:string"/>
		<xs:attribute name="ref" type="xs:string"/>
	</xs:complexType>
	<xs:element name="mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="generator" type="generatorType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="element" type="elementType" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="output" type="xs:string" use="required"/>
			<xs:attribute name="tagNameBase" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="stereotypeType">
		<xs:sequence>
			<xs:element name="generator" type="generatorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
