trunk/dentaku-cartridge-generator/src/xml/gengenMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="element" type="elementType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="stereotype" type="stereotypeType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="tagNameBase" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="elementType">
		<xs:sequence>
			<xs:element name="location" ref="location" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="stereotype" type="stereotypeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="path" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="generatorType">
		<xs:attribute name="canonicalName" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="location">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="root"/>
				<xs:enumeration value="package"/>
				<xs:enumeration value="class"/>
				<xs:enumeration value="method"/>
				<xs:enumeration value="field"/>
				<xs:enumeration value="relation"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="stereotypeType">
		<xs:sequence>
			<xs:element name="generator" type="generatorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>
</xs:schema>
